/* flag-4: o00on9_FlaG} */

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}